{% extends "base.html" %}

{% block content %}
  <h1>Lori books library</h1>
  <p>Welcome to Lori books library, <em>come one come all </em>!</p>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>We have books in the following languages:</strong> {{ languages_list }}</li>
  </ul>
{% endblock %}